---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<span class={`text-xs font-medium me-2 px-2.5 py-0.5 rounded ${className}`}>
  <slot />
</span>