<div class="max-w-[1200px] mx-auto grid grid-rows-2 sm:grid-cols-2 sm:grid-rows-1 sm:items-center gap-10 mt-10">
  <figure class="row-start-2 self-center sm:col-start-1 sm:row-start-1">
    <img src="./contact.svg" class="object-cover w-full" />
  </figure>

  <form class="space-y-10">
    <div class="relative z-0">
      <input type="text" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-yellow-200 peer" placeholder=" " required/>
      <label for="floating_standard" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-yellow-200 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Nombre</label>
    </div>

    <div class="relative z-0">
      <input type="email" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-yellow-200 peer" placeholder=" " required/>
      <label for="floating_standard" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-yellow-200 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Correo</label>
    </div>

    <div class="relative z-0">
      <input type="number" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-yellow-200 peer" placeholder=" " required/>
      <label for="floating_standard" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-yellow-200 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Teléfono</label>
    </div>

    <div class="">
      <label for="message" class="block mb-2 text-sm text-gray-500 peer-focus/area:text-yellow-200">¿En que puedo ayudarte?</label>
      <textarea id="message" rows="4" class="block rounded p-2.5 w-full text-sm outline-none bg-transparent border-b-2 border-gray-300 text-gray-500 focus:bg-gray-100/20 focus:text-white peer/area min-h-[150px] max-h-[150px]" placeholder="..." required></textarea>
    </div>

    <button type="submit" class="w-full focus:outline-none text-black bg-yellow-200 hover:bg-yellow-300 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">Enviar</button>




  </form>
</div>