---
import type { Code } from "astro:components"
import ExperienceItem from "./ExperienceItem.astro"

  const EXPERIENCE = [
    {
      date: 'Actualmente',
      title: 'Programdor web en Calaverita.tech',
      description: [
        "Como programador frontend en Calaverita.tech, me he dedicado al desarrollo de vistas web utilizando Vue3 y TypeScript, lo que me ha permitido crear interfaces robustas y fáciles de mantener.",
        "Además, he diseñado y desarrollado Landing Pages optimizadas utilizando tecnologías como Astro.js, garantizando una excelente experiencia de usuario y una carga eficiente del sitio. También he tenido la oportunidad de trabajar en la migración de proyectos existentes, como una Landing Page que pasó de PHP y HTML a Vue3, contribuyendo así a la modernización de la plataforma."
      ],
      link: 'https://calaverita.tech/'
    }
  ]
---

<ol class="relative border-s border-gray-200 ml-3 mt-10">                  
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience}/>  
      </li>
    ))
  }
</ol>