<header class="flex justify-center items-center p-5 mx-auto w-full xl:w-[1120px]">
  <nav class="flex flex-wrap justify-center gap-10 opacity-90">
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#tecnologias">Tecnologías</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>